.head{
    width: 835px;
    margin-left: 175px;
    margin-bottom: 5%;
  
    
}
.card {
    /* padding: 20px;  */
    width: 402px; 
    margin-top: 5%;
    /* column-gap: 5%; */
    /* text-align: justify; */
    /* margin-left: 5%; */
    /* margin: 5%; */
}

main{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 30px;
    margin-left: 4%;
}

img{
    height: 300px;
    width: 400px;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}