<div class="head">
    <h1>
      <span style="font-size: x-large;margin-top: 2px;">Profile</span>

      <div class="navigator" style="float: right;font-size: medium; word-spacing: 100px; ">


        <ul>
          <li><a class="active" routerLink = "/profile">Home</a></li>
          <li><a routerLink = "/project">Project</a></li>
          <li><a routerLink = "/resume">Resume</a></li>
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li><a routerLink = "/hobbies">Hobbies</a></li>
        </ul>

      </div>
    </h1>
  </div>




<div class="card">
  <img src="assets/hob3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reading</h5>
    <p class="card-text">I have fun in reading and it also where I get new knowledge about things I do not know.</p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
  </div>
</div>

<div class="card">
  <img src="assets/hob2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cooking</h5>
    <p class="card-text">I find it interesting and the same I enjoy because for me it kind of artistic.</p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
  </div>
</div>

<div class="card">
  <img src="assets/hob3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Badminton</h5>
    <p class="card-text">It is fun and your body is filled of energy and playing it with your friend is more fun.</p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
  </div>
</div>
