<div class="head">
  <main>
    <div class="card">
      <img src="assets/hob3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reading</h5>
        <p class="card-text">I have fun in reading and it also where I get <br>new knowledge about things I do not
          know.
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/hob2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cooking</h5>
        <p class="card-text">I find it interesting and the same I enjoy <br> because for me it kind of artistic.</p>
      </div>
    </div>
  </main>

  <main>
    <div class="row">
      <div class="box effects">
        <div class="col align-self-center">
          <div class="card">
            <img src="assets/hob1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Badminton</h5>
              <p class="card-text">It is fun and your body is filled of energy and playing it with your friend is more
                fun.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box effects">
        <div class="col align-self-center">
          <div class="card">
            <img src="assets/swimming.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Swimming</h5>
              <p class="card-text">It is fun and your body is filled of energy and playing it with your friend is more
                fun.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>