ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

li a:hover:not(.active) {
    text-decoration: underline;

}

.card {
    padding: 25px; 
    width: 450px; 
    margin-top: 5%;
    margin-left: 25%;
}

img{
    height: 300px;
    width: 400px;
}

.card-title{
    text-align: center;
}