<div class="container-fluid">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a href="#" class="navbar-brand">
        <img src="assets/logo.png" height="108" width=" 150px" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

        <div class="navbar-nav ml-auto">
          <a routerLink="/profile" class="nav-item nav-link ">Home</a>
          <a routerLink="/project" class="nav-item nav-link">Project</a>
          <a routerLink="/resume" class="nav-item nav-link">Resume</a>
          <a routerLink="/hobbies" class="nav-item nav-link">Hobbies</a>
          <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>

  </div>
  <div class="footer">
    <div class="row">
      <div class="col">
        <div class="row" id="by">
          <p>By: Jeanilyn Mendoza @2020B using <b style="color:#C3073F">Angular</b></p>
        </div>
      </div>
      <div class="col">
        <div class="row" id="con">
          <ul class="contact">
            <li><img src="assets/phone.png" alt=""><a href="" style="color:#C3073F"><b>09058828535</b></a></li>
            <li><img src="assets/email.png" alt=""><a href="" style="color:#C3073F"><b>mjeanilyn&@gmail.com</b></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>