<div class="body">
  <div class="card" id="card_cover">
    <div class="card mb-3" id="top">
      <div class="row no-gutters">
        <div class="col-md-4" id="col-image">
          <img src="assets/profile.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">JEANILYN B. MENDOZA</h5>
            <p class="card-text">WEB DEVELOPER</p>
            <p class="spe">SPECIALIZED IN AWS CLOUD OPERATION</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="cont">
      <div class="cont" id="conti" #conti>
        <div class="row">
          <div class="col">
            <div class="obj">
              <h2>OBJECTIVE</h2>
              <p style="margin-top: 27px;">To look and be hired for a company<br>
                where I can share my skills and be an<br>
                asset that helps in developing its<br>
                company objective</p>
            </div>
            <div class="edu">
              <h2>EDUCATION BACKGROUND</h2>
              <span>University of San Carlos</span>
              <p>SCHOOL OF ARTS AND SCIENCES</p>
              <ul>
                <li>August 2018 - Present</li>
                <li>Certificate in Computer Technology</li>
                <li>Talamban Campus</li>
              </ul>
            </div>
            <div class="sem">
              <h3>SEMINARS ATTENDED</h3>
              <span>Game Development</span>
              <ul>
                <li>March 26, 2019</li>
                <li>University of San Carlos, Talamban</li>
              </ul>
              <span>Animation and Creative Industry</span>
              <ul>
                <li>April 27, 2019</li>
                <li>University of San Carlos, Talamban</li>
              </ul>
            </div>
          </div>

          <div class="col">
            <div class="train">
              <h2>TRAINING</h2>
              <span>Front-end</span>
              <ul>
                <li>has knowledge in HTML, CSS, Javascript and Vuejs</li>
              </ul>
              <span>Back-end</span>
              <ul>
                <li>has knowledge in Nodejs and MongoDB</li>
              </ul>
            </div>
            <div class="pro">
              <h2>PROJECTS</h2>
              <span>MedApp</span>
              <ul>
                <li>An online pharmacy built using Java language</li>
              </ul>
              <span>Abangbalay</span>
              <ul>
                <li>A web application for inquiring a boarding house
                  built using Vuejs framework and MongoDB</li>
              </ul>
            </div>
            <div class="ski">
              <h3>SKILLS</h3>
              <span>Technical Skilss</span>
              <ul>
                <li>Designing</li>
                <li>Programming</li>
                <li>Database Management</li>
              </ul>
              <span>Soft Skills</span>
              <ul>
                <li>Adaptability</li>
                <li>Creativity</li>
                <li>Communication Skills</li>
                <li>Work Ethic</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="ref">
        <h4>CHARACTER <br>REFERENCES</h4>
        <ul>
          <li>Marie Maureen Salvaleon | Academic Coordinator, Passerelles Numeriques</li>
          <li>Johanna Sira | Educator, Passerelles Numeriques</li>
          <li>Eloise Jade Apawan | External Relation Officer, Passerelles Numeriques</li>
        </ul>
      </div>
    </div>
    <div class="card" id="end"></div>
    <div class="btn-down">
      <a download="resume" target="_blank" type="button" href="/assets/resume.pdf">
        <span>Download</span><span>PDF</span></a>
    </div>

  </div>
</div>