<div class="head">
    <h1>
      <span style="font-size: x-large;margin-top: 2px;">Profile</span>

      <div class="navigator" style="float: right;font-size: medium; word-spacing: 100px; ">


        <ul>
          <li><a class="active" routerLink = "/profile">Home</a></li>
          <li><a routerLink = "/project">Project</a></li>
          <li><a routerLink = "/resume">Resume</a></li>
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li><a routerLink = "/hobbies">Hobbies</a></li>
        </ul>

      </div>
    </h1>
  </div>

  <br>

  <div>
      <img src="assets/resume.jpg" alt="">
  </div>
