<div class="head">
  <main>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="assets/project1.jpg" class="card-img" alt="..." style="height: 300px;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title" style="margin-left: 50px;">Abangbalay</h5>
            <p class="card-text" style="margin-top: 50px; margin-left: 2px;">It is a website that helps the users to
              find a
              a nearer and affordable boarding house.
              Vuejs is the framework being used.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="assets/project2.jpg" class="card-img" alt="..." style="height: 300px;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title" style="margin-left: 50px;">MedApp</h5>
            <p class="card-text" style="margin-top: 50px; margin-left: 2px;">It is a system where customers can purchase
              medicine online it is made with the use of java language</p>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>