/* .container {
    background-color: white;
    width: 55%;
    height: auto;
    margin-left: 30%;
    margin-top: 8%;
} */

main {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1px;
}