<div class="head">
    <h1>
      <span style="font-size: x-large;margin-top: 2px;">Profile</span>

      <div class="navigator" style="float: right;font-size: medium; word-spacing: 100px; ">


        <ul>
          <li><a class="active" routerLink = "/profile">Home</a></li>
          <li><a routerLink = "/project">Project</a></li>
          <li><a routerLink = "/resume">Resume</a></li>
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li><a routerLink = "/hobbies">Hobbies</a></li>
        </ul>

      </div>
    </h1>

    <!-- <h2>Projects</h2> -->

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body"  style="padding: 20px;">
          <div class="card-img">
            <img src="assets/project1.jpg" alt="" style="width: 45%;height: 50%;">
            <!-- <p style="float: right; right: 50px; margin-top: 30px;">Abangbalay</p> -->
            <p style="float: right; right: 20px; margin-top: 47px;">It is a website that helps the users to <br>find a
              a nearer and affordable boarding <br>house.
             Vuejs is the framework being used.</p>
          </div>
          <div class="card-text"  >

          </div>
      </div>
    </div>
  </div>
</div>
  
