.head {
    width: 1000px;
    margin-bottom: 5%;
    
}

main {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1px;
    margin-left: 7%;
}

.card {
    max-width: 654px;
    margin-left: 33%;
    margin-top: 5%;
}

.col-md-6 {
    width: 327px;
    height: 420px;
}

.card-img {
    height: 420px;
} 