.head {
    width: 1000px;
    margin-bottom: 5%;   
}

main {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1px;
    margin-left: 7%;
}

.card {
    max-width: 654px;
    margin-left: 33%;
    margin-top: 5%;
    box-shadow: 
    inset 0 -2em 2em rgba(73, 71, 71, 0.1), 
        0 0  0 1px rgb(77, 74, 74),
        0.3em 0.3em 1em rgba(126, 118, 118, 0.685);

}

#border {
    background-color: #C3073F;
    height: 7px;
    width: 62px;
}

.col-md-6 {
    width: 327px;
    height: 420px;
}

.card-img {
    height: 420px;
} 

.card-body {
    margin-top: 50px;
    margin-left: 2px;
}

.card-title {
    margin-left: 50px;

}

.card-text{
    margin-top: 50px; 
    margin-left: 2px;
} 


