<div class="body">
  <div class="card" id="back">
    <div class="card" id="front">
      <img src="assets/profile.jpg" alt="" class="image">
      <div class="card-body">
        <h5 class="card-title">Jeanilyn B. Mendoza</h5>
        <div class="card" id="line"></div>
        <span class="post">Web Developer</span><br><br>
      </div>
    </div>
    <div class="intro">
      <h2>Hello,</h2>
      <span>I'm Jeanilyn Mendoza,</span>
      <p>studied from University of San Carlos and take up Certificate in Computer Technology</p>
      <p>Keep training and keep learning <br>until you get it right</p>
      <div class="card"></div>
    </div>    
  </div>
</div>