<div class="body">
  <div class="head">
    <h1>
      <span class = "tilt">Profile</span>

      <div class="navigator" style="float: right;font-size: medium; word-spacing: 100px; ">


        <ul>
          <li><a class="active" routerLink = "/profile">Home</a></li>
          <li><a routerLink = "/project">Project</a></li>
          <li><a routerLink = "/resume">Resume</a></li>
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li><a routerLink = "/project">Hobbies</a></li>
        </ul>

      </div>
    </h1>
  </div>
  <br>
  
  <!-- <section class="text-center">


    <div class="row" >

      <div class="col-lg-4 col-md-12 mb-4">

        <div class="card-card">
          <div class="card-up lady-lips-gradient"></div>

          <div class="avatar mx-auto"><img src="assets/profile.jpg" class="rounded-circle img-responsive" alt="Example photo">
          </div>

          <div class="card-body">
              <h4 class="card-title mt-1" >Jeanilyn</h4>
              <hr>
              <p><i class="fas fa-quote-left"></i> Delectus impedit saepe officiis ab aliquam repellat, rem totam unde ducimus.</p>
          </div>

        </div>

      </div>

    </div>

  </section> -->

  <div class="card">
    <img src="assets/hob3.jpg" class="card-img-top" alt="...">
    <img src="assets/profile.jpg" alt="" class="image">
    <div class="card-body">
      <h5 class="card-title">Jeanilyn B. Mendoza</h5>
      <span class="post">Web Developer</span><br><br>
      <p class="card-text">Keep training and keep learning <br>until you get it right</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>

</div>