<div class="body">
  <!-- <div class="card">
    <img src="assets/hob3.jpg" class="card-img-top" alt="...">
    <img src="assets/profile.jpg" alt="" class="image">
    <div class="card-body">
      <h5 class="card-title">Jeanilyn B. Mendoza</h5>
      <span class="post">Web Developer</span><br><br>
      <p class="card-text">Keep training and keep learning <br>until you get it right</p>
    </div>
  </div> -->
  <div class="card" id="back">
    <!-- <img src="assets/hob3.jpg" class="card-img-top" alt="...">
    <img src="assets/profile.jpg" alt="" class="image"> -->
    <div class="card" id="front">
      <img src="assets/profile.jpg" alt="" class="image">
      <div class="card-body">
        <h5 class="card-title">Jeanilyn B. Mendoza</h5>
        <span class="post">Web Developer</span><br><br>
        <!-- <p class="card-text">Keep training and keep learning <br>until you get it right</p>? -->
      </div>
    </div>
    <div class="intro">
      <h2>Hello,</h2>
      <span>I'm Jeanilyn Mendoza,</span>
      <p>studied from University of San Carlos and take up Certificate in Computer Technology</p>
      <p>Keep training and keep learning <br>until you get it right</p>
    </div>
    
  </div>

</div>