.card {
    padding: 25px; 
    width: 450px; 
    margin-top: 1%;
    margin-left: 25%;
    margin-bottom: 2%;
    position: relative;
    display: block;
    background-color: rgba(214, 224, 226, 0.2);
    box-shadow: 10px 10px #b9acb0;
    
}
    
i.card-img-top{
    height: 300px;
    width: 400px;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -120px;
    margin-left: -95px;

}

.card-title{
    text-align: center;
    margin-top: 90px;

}

.post{
    margin-left: 34%;
}

.card-text{
    text-align: center;
}

   